.after-entry {
  background-color: $after-entry--background-color;
  font-size: rem( $after-entry--font-size );
  margin-bottom: 40px;
  padding: 60px;

   @include media( $breakpoint__screen-size--small ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}