blockquote {
  margin: 40px;

  &::before {
    content: "\201C";
    display: block;
    font-size: rem( $blockquote__FontSize );
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
  }
}