/* ## Typographical Elements
--------------------------------------------- */

html {
  font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
  font-size: 2rem;
}

body {
  background-color: #eee;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.1s ease-in-out;
}

a {
  color: #c3251d;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
  }
}

p {
  margin: 0 0 28px;
  padding: 0;
}



hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}