/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings__FontFamily;
  font-weight: 600;
  line-height: $headings__LineHeight;
  margin: 0 0 10px;
}

h1 {
  font-size: rem( $h1__FontSize );
}

h2 {
  font-size: rem( $h2__FontSize );
}

h3 {
  font-size: rem( $h3__FontSize );
}

h4 {
  font-size: rem( $h4__FontSize );
}

h5 {
  font-size: rem( $h5__FontSize );
}

h6 {
  font-size: rem( $h6__FontSize );
}