.author-box {
  background-color: $authorBox__BackgroundColor;
  font-size: rem( $authorBox__FontSize );
  margin-bottom: 40px;
  padding: 60px;

  p:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $smallScreen) {
    padding: 30px;
    margin-bottom: 5%;
  }
}

.author-box-title {
  font-size: $authorBox__Title__FontSize;
}