
.widget {
  margin-bottom: 40px;
  word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0;
}

.widget {
  ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  ul > li:last-of-type {
    padding-bottom: 0;
  }

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
  }
}