/* ## Featured Content
--------------------------------------------- */

.featured-content {
  .entry {
    background: none;
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .entry-title {
    font-size: rem( $featuredContent__EntryTitle__FontSize );
  }
}