//
// Widget Title Stylings
//================================

.sidebar .widget-title a {
  color: $widget-title--link-color;
  text-decoration: none;
}

.widget-title {
  font-size: rem( $widget-title--font-size );
  margin-bottom: 20px;
}