/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;
  }

  a {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  .active a {
    background-color: #c3251d;
    color: #fff;
  }
}