/* ## Breadcrumbs
--------------------------------------------- */

.breadcrumb {
  background-color: $breadcrumbs__BackgroundColor;
  font-size: rem( $breadcrumbs__FontSize );
  margin-bottom: 1px;
  padding: 12px 30px;
}