/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-sidebar-wrap--width;

     @include media( $breakpoint__screen-size--larger ) {
      width: $contentSidebarWrap--larger-screenWidth;
    }

     @include media( $breakpoint__screen-size--large ) {
      width: $contentSidebarWrap--large-screenWidth;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}