/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentSidebarWrap__Width;

    @media only screen and (max-width: $largerScreen) {
      width: $contentSidebarWrap__LargerScreenWidth;
    }

    @media only screen and (max-width: $largeScreen) {
      width: $contentSidebarWrap__LargeScreenWidth;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}