/* ### Content */

.content {
  float: right;
  width: 880px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
}

.content {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: 660px;
  }
}

.full-width-content .content {
  width: 100%;
}
