/* ### Content */

.content {
  float: right;
  width: $content__Width;

  @media only screen and (max-width: $largerScreen) {
    width: $content__LargerScreenWidth;
  }

  @media only screen and (max-width: $largeScreen) {
    width: $content__LargeScreenWidth;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebars__Width;

    @media only screen and (max-width: $largerScreen) {
      width: $contentBothSidebars__LargerScreenWidth;
    }

    @media only screen and (max-width: $largeScreen) {
      width: $contentBothSidebars__LargeScreenWidth;
    }
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .full-width-content & {
    width: 100%;
  }
}
