/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primarySidebar__Width;

  @media only screen and (max-width: $largerScreen) {
    width: $primarySidebar__LargerScreenWidth;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

