//
// Entry Title
//======================

.entry-title {
  font-size: rem( $entry-title--font-size );

  a {
    color: $entry-title--link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $entry-title--hover-color;
    }
  }
}