/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footerWidgets__BackgroundColor;
  font-size: rem( $footerWidgets__FontSize );
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: $footerWidgets__Width;

  @media only screen and (max-width: 1200px) {
    width: $footerWidgets__Width_LargeScreen;
  }

  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
}

.footer-widgets-1 {
  margin-right: 70px;

  @media only screen and (max-width: 1200px) {
    margin-right: 30px;
  }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;

  @media only screen and (max-width: 1023px) {
    margin: 0 auto 40px;
  }
}

.footer-widgets-3 {
  float: right;
}