/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $siteFooter__BackgroundColor;
  border-top: 1px solid $siteFooter__BorderColor;
  font-size: rem( $siteFooter__FontSize );
  line-height: 1;
  padding: 60px 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}