//
// Site Description
//========================

.site-description {
  font-size: rem( $siteDescription__FontSize );
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
}