$white: #fff;
$black: #000;

$base__color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

$nav__LinkColor: #333;

$primaryNav__BackgroundColor: $white;
$primaryNav__LinkColor: $nav__LinkColor;
$secNav__BackgroundColor: $white;
$secNav__LinkColor: $nav__LinkColor;

$siteHeader__BackgroundColor: $white;
$siteFooter__BackgroundColor: $white;
$footerWidgets__BackgroundColor: $white;