$white: #fff;
$black: #000;

$base__color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

//
// Header Colors
//======================
$siteHeader__BackgroundColor: $white;
$siteTitle__LinkColor: #333;

//
// Navigation Colors
//============================
$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;
$submenu__BorderColor: #eee;
$submenu__LinkBackgroundColor: $white;

$primaryNav__BackgroundColor: $white;
$primaryNav__BorderColor: #eee;
$primaryNav__LinkColor: $nav__LinkColor;

$secNav__BackgroundColor: $white;
$secNav__BorderColor: #eee;
$secNav__LinkColor: $nav__LinkColor;

$jsNav__BackgroundColor: $white;
$jsNav__HoverColor: $black;
$jsNav__FocusColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__Color: #333;

$archivePagination__BackgroundColor: $white;
$archivePagination__Color: #333;
$archivePagination__HoverBackgroundColor: #c3251d;
$archivePagination__HoverColor: $white;


//
// Footer Colors
//============================
$siteFooter__BackgroundColor: $white;
$siteFooter__BorderColor: #eee;
$footerWidgets__BackgroundColor: $white;

//
// Entry Content Color
//===================
$entryFooter__Meta__BorderColor: #eee;
$entry__BackgroundColor: #white;
$entryTitle__LinkColor: #333;
$entryTitle__HoverColor: #c3251d;
$entryContent__Code__BackgroundColor: #eee;
$entryContent__Code__Color: #333;