$white: #fff;
$black: #000;

$link__color: #c3251d;
$link__hoverColor: #333;

// Elements
$base__color: #333;
$body__backgroundColor: #eee;

// Form Elements
$input__BackgroundColor: $white;
$input__BorderColor: #ddd;
$input__Color: #333;
$input__FocusBorderColor: #999;
$button__BackgroundColor: #333;
$button__Color: $white;
$button__HoverBackgroundColor: #c3251d;
$button__HoverColor: $white;
$button__DisabledBackgroundColor: #eee;
$button__DisabledColor: #777;

//
// Header
//======================
$siteHeader__BackgroundColor: $white;
$siteTitle__LinkColor: #333;

//
// Navigation
//============================
$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;
$submenu__BorderColor: #eee;
$submenu__LinkBackgroundColor: $white;

$primaryNav__BackgroundColor: $white;
$primaryNav__BorderColor: #eee;
$primaryNav__LinkColor: $nav__LinkColor;

$secNav__BackgroundColor: $white;
$secNav__BorderColor: #eee;
$secNav__LinkColor: $nav__LinkColor;

$jsNav__BackgroundColor: $white;
$jsNav__HoverColor: $black;
$jsNav__FocusColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__Color: #333;

$archivePagination__BackgroundColor: $white;
$archivePagination__Color: #333;
$archivePagination__HoverBackgroundColor: #c3251d;
$archivePagination__HoverColor: $white;

//
// Footer
//============================
$siteFooter__BackgroundColor: $white;
$siteFooter__BorderColor: #eee;
$footerWidgets__BackgroundColor: $white;

//
// Entry Content
//===================
$entryFooter__Meta__BorderColor: #eee;
$entry__BackgroundColor: #white;
$entryTitle__LinkColor: #333;
$entryTitle__HoverColor: #c3251d;
$entryContent__Code__BackgroundColor: #eee;
$entryContent__Code__Color: #333;

//
// Comments
//===================
$comment__BackgroundColor: $white;

//
// Widgets
//===================
$widgetTitle__LinkColor: #333;


//
// Plugins
//===================
$enews__BackgroundColor: #333;
$enews__Color: $white;
$enews__InputBorderColor: #333;
$enews__submitButton__BackgroundColor: #c3251d;
$enews__submitButton__Color: $white;
$enews__submitButton__BackgroundHoverColor: $white;
$enews__submitButton__HoverColor: #c3251d;

// General Components
$breadcrumbs__BackgroundColor: $white;
$authorBox__BackgroundColor: $white;
$afterEntry__BackgroundColor: $white;
$archiveDescription__BackgroundColor: #ccc;