//
// Dimensions Variables
//=======================

// Header Module
$titleArea__Width: 300px;
$siteTitle__MinHeight: 80px;
$headerRight__Width: 800px;
$headerRight__Width_LargeScreen: 620px;

// Footer Module
$footerWidgets__Width: 380px;
$footerWidgets__Width_LargeScreen: 300px;