// Common Fonts
$font-family--source-sans-pro: 'Source Sans Pro', sans-serif;

// Base Typography
$html--font-size: 62.5%;
$base--font-family: $font-family--source-sans-pro;
$base--font-size: 20;
$base--font-size--small-screen: 18;
$base__div--font-size: 2rem;
$base__div--font-size--small-screen: 1.8rem;
$base--line-height: 1.625;

// Headings
$headings--font-family: $font-family--source-sans-pro;
$headings--line-height: 1.2;
$h1--font-size:  36;
$h2--font-size:  30;
$h3--font-size:  24;
$h4--font-size:  20;
$h5--font-size:  18;
$h6--font-size:  16;

// Elements
$blockquote--font-size: 30;
$input--font-size: 18;
$button--font-size: 16;

//
// Navigation
//===========
$nav--font-size: 16;
$submenu--font-size: 14;
$primary-nav--font-size: 14;
$archive-pagination--font-size: 16;

//
// Header
//==================
$site-title--font-size: 30;
$site-description--font-size: 16;


//
// Footer
//==================
$site-footer--font-size: 16;
$footer-widgets--font-size: 18;

//
// Entry Content
//===================
$entry-meta--font-size: 16;
$entry-header__entry-meta--font-size: 16;
$entry-footer__entry-meta--font-size: 16;

$entry-title--font-size: 36;

//
// Comments
//===================
$comments--font-size: 16;

//
// Widgets
//===================
$widget-title--font-size: 18;
$featured-content__entry-title--font-size: 20;

//
// Plugins
//===================
$enews--font-size: 16;

//
// General Components
//===================
$breadcrumbs--font-size: 16;
$author-box--font-size: 18;
$author-box__Title--font-size: 20;
$after-entry--font-size: 18;
$archive-description--font-size: 18;
$archive-title--font-size: 20;