
//
// Navigation
//===========
$nav__FontSize: 16;
$submenu__FontSize: 14;
$primaryNav__FontSize: 14;
$archivePagination__FontSize: 16;

//
// Header
//==================
$siteTitle__FontSize: 30;
$siteDescription__FontSize: 16;


//
// Footer
//==================
$siteFooter__FontSize: 16;
$footerWidgets__FontSize: 18;

//
// Entry Content
//===================
$entryMeta__FontSize: 16;
$entryMeta__Header__FontSize: 16;
$entryMeta__Footer__FontSize: 16;

$entryTitle__FontSize: 36;