
// Common Fonts
$fontFamily__SourceSansPro: 'Source Sans Pro', sans-serif;

// Base Typography
$html__FontSize: 62.5%;
$base__FontFamily: $fontFamily__SourceSansPro;
$base__FontSize: 20;
$base__FontSize__SmallScreen: 18;
$baseDiv__FontSize: 2rem;
$baseDiv__FontSize: 1.8rem;
$base__LineHeight: 1.625;

// Headings
$headings__FontFamily: $fontFamily__SourceSansPro;
$headings__LineHeight: 1.2;
$h1__FontSize:  36;
$h2__FontSize:  30;
$h3__FontSize:  24;
$h4__FontSize:  20;
$h5__FontSize:  18;
$h6__FontSize:  16;

// Elements
$blockquote__FontSize: 30;
$input__FontSize: 18;
$button__FontSize: 16;

//
// Navigation
//===========
$nav__FontSize: 16;
$submenu__FontSize: 14;
$primaryNav__FontSize: 14;
$archivePagination__FontSize: 16;

//
// Header
//==================
$siteTitle__FontSize: 30;
$siteDescription__FontSize: 16;


//
// Footer
//==================
$siteFooter__FontSize: 16;
$footerWidgets__FontSize: 18;

//
// Entry Content
//===================
$entryMeta__FontSize: 16;
$entryMeta__Header__FontSize: 16;
$entryMeta__Footer__FontSize: 16;

$entryTitle__FontSize: 36;

//
// Comments
//===================
$comments__FontSize: 16;

//
// Widgets
//===================
$widgetTitle__FontSize: 18;
$featuredContent__EntryTitle__FontSize: 20;

//
// Plugins
//===================
$enews__FontSize: 16;

//
// General Components
//===================
$breadcrumbs__FontSize: 16;
$authorBox__FontSize: 18;
$authorBox__Title__FontSize: 20;
$afterEntry__FontSize: 18;
$archiveDescription__FontSize: 18;
$archive__Title__FontSize: 20;