/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $maxWidth;

  @media only screen and (max-width: $largerScreen) {
    max-width: $maxWidth__LargerScreen;
  }
  @media only screen and (max-width: $largeScreen) {
    max-width: $maxWidth__LargeScreen;
  }

  @media only screen and (max-width: $mediumScreen) {
    max-width: $maxWidth__MediumScreen;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

  @media only screen and (max-width: $smallScreen) {
    padding: 5% 5% 0;
  }
}

@media only screen and (max-width: $smallScreen) {
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.landing-page .site-inner {
  max-width: $maxWidth__LandingPage;
}