//
// Entry Meta
//=====================

.entry-footer {
  .entry-meta {
    border-top: 1px solid $entryFooter__Meta__BorderColor;
    padding-top: 24px;
    margin-bottom: 0;
    //font-size: rem( $entryMeta__Footer__FontSize );
  }
}

.entry-categories,
.entry-tags {
  display: block;
}