//
// Entry Meta
//=====================

.entry-footer {
  .entry-meta {
    border-top: 1px solid $entry-footer__meta--border-color;
    padding-top: 24px;
    margin-bottom: 0;
    //font-size: rem( $entry-footer__entry-meta--font-size );
  }
}

.entry-categories,
.entry-tags {
  display: block;
}